@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fugaz+One&family=Staatliches&display=swap');

#main-title{
    position: relative;
    z-index: 1;
}
#main-title::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image:url("../images/beer_wall.jpeg");
    background-size: contain;
    opacity: .6;
    
}

.f-l {
    float: left;
}
    
.f-r {
    float: right;
}
h1 {
    font-family: 'Staatliches', cursive;
    font-size:4em;
    text-shadow: .1em .1em #265973;
}
h2 {
    font-family: 'Staatliches', cursive;
    color: black;
    font-size:2em;
    text-decoration: underline;
}
h4{
    font-family: 'Fugaz One', cursive;
    text-shadow: .1em .1em hsl(200 50% 30%);
}
.card-body{
    font-family: 'Staatliches', cursive;
}
ul{
    font-family: 'Fugaz One', cursive;
}
form{
    font-family: 'Staatliches', cursive;
}
#submit-bttn{
    font-family: 'Staatliches', cursive; 
    text-shadow: .1em .1em hsl(200 50% 30%);
}
li{
    cursor: pointer
}
.fav-delete-button{
    border: 0; 
    background: transparent"
}

.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  }

  #fav-heart{
      color: red;
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }
.material-icons-outlined.md-60 { font-size: 60px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }